<%- include('header') %> 

<div class="upload">
  <p class="p1">Upload your image</p>
  <p class="p2">File should be .jpeg or .png</p>
  <div class="imagecol">
    <img src="images/image.svg">
    <p class="p2">Drag or drag your image here</p>
  </div>
  <p class="p2">Or</p>
  <input type="file" id="file_input" style="display: none;">
  <button type="button" class="btn btn-primary filebutton">Choose a file</button>
</div>
    
<%- include('footer') %> 