<%- include('header') %> 

<div class="upload">
  <p class="p1">Upload your image</p>
  <p class="p2">File should be .jpeg or .png</p>
  <div class="imagecol">
    <img src="images/image.svg">
    <p class="p2">Drag or drag your image here</p>
  </div>
  <p class="p2">Or</p>
  <form action="/uploaded" method="POST" >
    <input type="file" id="file_input" style="display: none;"/>
    <label for="file_input" class="btn btn-primary filebutton">Choose a file</label>
    <button type="submit" class="btn btn-primary dropbutton" style="display: none;"></button>
  </form>
</div>
    
<%- include('footer') %> 