<%- include('header') %> 

<div class="upload">
  <p class="p1 check"><i class="fas fa-check-circle fa-3x"></i></p>
  <p class="p1">Uploaded successfully</p>
  <div class="imagecol">
    <img src="images/image.svg">
  </div>
</div>
    
<%- include('footer') %>