<%- include('header') %> 

<div class="upload final">
  <p class="p1 check"><i class="fas fa-check-circle fa-3x"></i></p>
  <p class="p1">Uploaded successfully</p>
  
  <div class="imagecol uploaded">
    <img id="finalimage" src="">
  </div>

  <div class="row linkbox">
    <div class="col-sm-8 link" style="overflow-x: hidden;">
      vmsdkvsv
    </div>
    <div class="col-sm-4 button">
      <button class="btn btn-primary">Copy link</button>
    </div>
  </div>

</div>
    
<%- include('footer') %>